<!-- Top Fixed Navbar -->
<nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top">
    <div class="container-fluid">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <span>TenSketch Tours & Travels</span>
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="offcanvas offcanvas-end text-bg-dark" id="offcanvasNavbar">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
        </div>
  
        <div class="offcanvas-body">
          <ul class="navbar-nav ms-auto pe-3">
            <li class="nav-item" *ngFor="let item of menuItems">
              <a class="nav-link" [routerLink]="item.link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
                <i class="me-2 fa-solid" [ngClass]="item.icon"></i> {{ item.name }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  